@media print
{    
    * {
        overflow: visible !important;
    }
    body {
        visibility: hidden;
      }
      #main-table {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
      }
    
}