.payments-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
    max-height: 631px;
}

.table-overflow {
    border-top: 1px solid #e0e0e0;
    height: 76.4%;
    overflow: auto;
    min-height: 167px;
}